body{
	margin: 0px;
}

h1{
	text-align: center;
}

#clickMe{
	text-align: center;
}

/*#example{
    width: 100%;
    height: auto;
}*/
.ui-content.ui-body-a.carrot{
	padding:0px;
}
#carrot{
	padding: 0px;
}
.ui-content .ui-body-a{
	background: #34b5d7;
}